Screens:
  scnSettings:
    Properties:
      LoadingSpinnerColor: =RGBA(56, 96, 178, 1)
      OnVisible: |-
        =UpdateContext({currentScreen:"Settings"});
        UpdateContext({currentMode:"View"});
        Set(_showMenu,false);
    Children:
      - SettingsMainContainer:
          Control: GroupContainer@1.3.0
          Variant: ManualLayout
          Properties:
            DropShadow: =DropShadow.Regular
            Height: =Parent.Height
            Width: =Parent.Width
          Children:
            - SettingsContent:
                Control: GroupContainer@1.3.0
                Variant: ManualLayout
                Properties:
                  DropShadow: =DropShadow.Regular
                  Height: |+
                    =Parent.Height-85






                  RadiusBottomLeft: =10
                  RadiusBottomRight: =10
                  RadiusTopLeft: =10
                  RadiusTopRight: =10
                  Width: |
                    =If(App.ActiveScreen.Size>=ScreenSize.ExtraLarge,Parent.Width-270,Parent.Width-20)
                  X: =If(App.ActiveScreen.Size>=ScreenSize.ExtraLarge,260,10)
                  Y: =75
                Children:
                  - SettingsForm:
                      Control: GroupContainer@1.3.0
                      Variant: ManualLayout
                      Properties:
                        Height: =Parent.Height
                        Width: =Parent.Width
                        X: |
                          =0
                      Children:
                        - SettingsFormContainer:
                            Control: GroupContainer@1.3.0
                            Variant: AutoLayout
                            Properties:
                              Height: |
                                =Parent.Height-50
                              LayoutDirection: =LayoutDirection.Vertical
                              LayoutOverflowX: =LayoutOverflow.Scroll
                              LayoutOverflowY: =LayoutOverflow.Scroll
                              PaddingLeft: =15
                              PaddingTop: =15
                              Width: =Parent.Width
                        - SettingsFormControl:
                            Control: GroupContainer@1.3.0
                            Variant: AutoLayout
                            Properties:
                              Height: =40
                              LayoutDirection: =LayoutDirection.Horizontal
                              LayoutGap: |
                                =5
                              LayoutJustifyContent: =LayoutJustifyContent.End
                              PaddingRight: |
                                =10
                              PaddingTop: |
                                =05
                              Width: =Parent.Width
                              X: |
                                =0
                              Y: =Parent.Height-Self.Height
                            Children:
                              - SettingsFormSaveBtn:
                                  Control: Button@0.0.45
                                  Properties:
                                    Height: =30
                                    OnSelect: |-
                                      =If(IsBlankOrError(gblUserPreferenceRecord),
                                      Patch(' [THNewcomer]UserPreferences',          // Your target Dataverse table
                                          Defaults(' [THNewcomer]UserPreferences'), // Indicates you are creating a NEW record
                                          {
                                              Email: Office365Users.MyProfile().Mail,
                                              Language: If(SettingsFormLanguageCombo.Selected.Value="ภาษาไทย","TH","EN")
                                          }),
                                          Patch(' [THNewcomer]UserPreferences',          // Your target Dataverse table
                                          gblUserPreferenceRecord, // Indicates you are creating a NEW record
                                          {
                                              Language: If(SettingsFormLanguageCombo.Selected.Value="ภาษาไทย","TH","EN")
                                          })
                                      );
                                      If(
                                          IsEmpty(Errors(' [THNewcomer]UserPreferences')),
                                          Notify("Record created successfully!", NotificationType.Success);
                                          Navigate(loadingScreen),
                                          Notify("Error creating record: " & First(Errors(' [THNewcomer]UserPreferences')).Message, NotificationType.Error)
                                      )
                                    Text: ="Save"
                                    X: =610
                                    Y: =440
            - SettingsNavigationMenu:
                Control: CanvasComponent
                ComponentName: NavigationMenu
                Properties:
                  Fill: =RGBA(255, 255, 255, 0.5)
                  Height: |
                    =Parent.Height-70
                  Visible: =If(App.ActiveScreen.Size>=ScreenSize.ExtraLarge||_showMenu,true,false)
                  Width: =260
                  Y: |+
                    =70



                  navItems: =Navigation
                  navSelected: =currentScreen
      - SettingsHeader:
          Control: GroupContainer@1.3.0
          Variant: AutoLayout
          Properties:
            DropShadow: =DropShadow.Regular
            Fill: =LookUp(Navigation, name = currentScreen, color)
            Height: =55
            LayoutAlignItems: =LayoutAlignItems.Center
            LayoutDirection: =LayoutDirection.Horizontal
            PaddingLeft: =15
            RadiusBottomLeft: =8
            RadiusBottomRight: =8
            RadiusTopLeft: =8
            RadiusTopRight: =8
            Width: |
              =Parent.Width-20
            X: =10
            Y: =10
          Children:
            - SettingsMenuIcon:
                Control: Classic/Icon@2.5.0
                Properties:
                  BorderColor: =RGBA(0, 18, 107, 1)
                  Color: |-
                    =RGBA(255, 255, 255
                    , 1)
                  Height: =50
                  Icon: =Icon.Hamburger
                  OnSelect: =Set(_showMenu,!_showMenu);
                  PaddingBottom: =10
                  PaddingLeft: =10
                  PaddingRight: =10
                  PaddingTop: =10
                  Width: =50
            - SettingsTitle:
                Control: Text@0.0.51
                Properties:
                  Font: =Font.Lato
                  FontColor: =Color.White
                  Height: =50
                  PaddingLeft: |
                    =20
                  Size: =25
                  Text: =currentScreen
                  VerticalAlign: =VerticalAlign.Middle
                  Weight: ='TextCanvas.Weight'.Medium
                  Width: =240
